In [3]:
import pandas as pd

main_df = pd.read_csv('2020-05-03-weekly-patterns.csv')
main_df = main_df[main_df.region == 'CA']
main_df.columns

Index(['safegraph_place_id', 'location_name', 'street_address', 'city',
       'region', 'postal_code', 'brands', 'naics_code', 'date_range_start',
       'date_range_end', 'raw_visit_counts', 'raw_visitor_counts',
       'visits_by_day', 'visits_by_each_hour', 'visitor_home_cbgs',
       'visitor_country_of_origin', 'distance_from_home', 'median_dwell',
       'bucketed_dwell_times', 'related_same_day_brand',
       'related_same_week_brand', 'device_type', 'iso_country_code'],
      dtype='object')

In [5]:
main_df = main_df[['safegraph_place_id', 'location_name', 'street_address', 'city', 'postal_code', 'brands', 'naics_code', 'raw_visit_counts', 'raw_visitor_counts', 'visits_by_day', 'distance_from_home', 'median_dwell']]
main_df

,safegraph_place_id,location_name,street_address,city,postal_code,brands,naics_code,raw_visit_counts,raw_visitor_counts,visits_by_day,distance_from_home,median_dwell
43,sg:01710fd28d364ee4abbca7d8692669ba,Momentum Fitness,1635 Challenge Dr,Concord,94520,NaN,713940.0,6,2,"[0,1,0,3,2,0,0]",NaN,241.5
79,sg:0294a45d5c4b430482321a0282900986,76,805 S Harbor Blvd,Anaheim,92805,76,447110.0,16,15,"[2,3,2,0,4,3,2]",4416.0,7.0
95,sg:0327ad5802114d2fbfa8d170552bfc30,Life Science Outsourcing Inc,830 Challenger St,Brea,92821,NaN,621610.0,45,13,"[0,7,9,9,10,10,0]",16592.0,408.0
116,sg:03eaa2b5b78646c49dcc2aa05ce3131c,El Pollo Inka,15400 Hawthorne Blvd,Lawndale,90260,El Pollo Inka,722511.0,26,25,"[1,0,1,6,6,6,6]",5610.0,9.0
118,sg:03f9e9bad3254df3afeeea20fd4c188b,Frank's Tire and Brakes,299 29th St,Oakland,94611,NaN,441310.0,66,54,"[5,15,9,10,4,10,13]",6014.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3676257,sg:ff39a2712c3b4e9bba46d253de4a8074,Creative Memories,1609 Petri Pl,San Jose,95118,NaN,451130.0,13,9,"[0,0,0,1,1,6,5]",2085.0,103.0
3676258,sg:ff441c4f0a4f45699528d74178559458,El Avisador Magazine,460 W Taylor St,San Jose,95110,NaN,451211.0,10,8,"[2,3,1,1,2,1,0]",5601.0,63.5
3676260,sg:ff473ee639a5420eac5ab685db4d55d0,Harry Schmidt Park,Linden & Meredith Ave,Gustine,95322,NaN,712190.0,62,34,"[7,12,11,9,6,7,10]",7594.0,40.0
3676272,sg:ffce99ddb5594d0f92cb1e0e44a90411,Inland Empire Barbell,1200 Arizona St Unit Unit B7,Redlands,92374,NaN,713940.0,10,6,"[0,2,1,1,2,1,3]",5619.0,55.5
3676275,sg:fff9c7922fb14c69aab387506692ec0c,Pilates On Cue,162 S Rancho Santa Fe Rd Ste A60,Encinitas,92024,NaN,713940.0,3,3,"[0,0,0,1,0,1,1]",NaN,24.0

In [6]:
def get_category(df):
    if 445100 <= df.naics_code <= 445199:
        return "Supermarket"
    return "Other"

main_df['category'] = main_df.apply(get_category, axis=1)
main_df

<ipython-input-6-b5b3d65f7472>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_df['category'] = main_df.apply(get_category, axis=1)

,safegraph_place_id,location_name,street_address,city,postal_code,brands,naics_code,raw_visit_counts,raw_visitor_counts,visits_by_day,distance_from_home,median_dwell,category
43,sg:01710fd28d364ee4abbca7d8692669ba,Momentum Fitness,1635 Challenge Dr,Concord,94520,NaN,713940.0,6,2,"[0,1,0,3,2,0,0]",NaN,241.5,Other
79,sg:0294a45d5c4b430482321a0282900986,76,805 S Harbor Blvd,Anaheim,92805,76,447110.0,16,15,"[2,3,2,0,4,3,2]",4416.0,7.0,Other
95,sg:0327ad5802114d2fbfa8d170552bfc30,Life Science Outsourcing Inc,830 Challenger St,Brea,92821,NaN,621610.0,45,13,"[0,7,9,9,10,10,0]",16592.0,408.0,Other
116,sg:03eaa2b5b78646c49dcc2aa05ce3131c,El Pollo Inka,15400 Hawthorne Blvd,Lawndale,90260,El Pollo Inka,722511.0,26,25,"[1,0,1,6,6,6,6]",5610.0,9.0,Other
118,sg:03f9e9bad3254df3afeeea20fd4c188b,Frank's Tire and Brakes,299 29th St,Oakland,94611,NaN,441310.0,66,54,"[5,15,9,10,4,10,13]",6014.0,22.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3676257,sg:ff39a2712c3b4e9bba46d253de4a8074,Creative Memories,1609 Petri Pl,San Jose,95118,NaN,451130.0,13,9,"[0,0,0,1,1,6,5]",2085.0,103.0,Other
3676258,sg:ff441c4f0a4f45699528d74178559458,El Avisador Magazine,460 W Taylor St,San Jose,95110,NaN,451211.0,10,8,"[2,3,1,1,2,1,0]",5601.0,63.5,Other
3676260,sg:ff473ee639a5420eac5ab685db4d55d0,Harry Schmidt Park,Linden & Meredith Ave,Gustine,95322,NaN,712190.0,62,34,"[7,12,11,9,6,7,10]",7594.0,40.0,Other
3676272,sg:ffce99ddb5594d0f92cb1e0e44a90411,Inland Empire Barbell,1200 Arizona St Unit Unit B7,Redlands,92374,NaN,713940.0,10,6,"[0,2,1,1,2,1,3]",5619.0,55.5,Other
3676275,sg:fff9c7922fb14c69aab387506692ec0c,Pilates On Cue,162 S Rancho Santa Fe Rd Ste A60,Encinitas,92024,NaN,713940.0,3,3,"[0,0,0,1,0,1,1]",NaN,24.0,Other